.user-banner-wrapper
	.rel
		= render_user_avatar_for @user, fake_styles: "big with-border"
		%h2= @user.name
		%h5
			= raw "Пользуется сервисом #{distance_of_time_in_words_to_now @user.created_at}"
			%br
			= fa_icon :"map-marker"
			= @user.address

		.counters
			.container
				.counter
					/ %label Актуальных кампаний
					= @user.campaigns.active.count
					%label
						актуальных
						%br
						кампаний
				.counter
					= @user.campaigns.where(percentage: 100).count
					%label
						успешных
						%br
						кампаний
				.counter
					= @user.campaigns.sum(:donations_count)
					%label
						пожертвований
						%br
						собрано
				.counter
					= @user.donations.paid.count
					%label
						пожертвований
						%br
						сделано
				.counter
					= @user.campaigns.sum(:likes_count)
					%label
						лайков
						%br
						получено
				.counter
					= @user.campaigns.sum(:comments_count)
					%label
						комментариев
						%br
						получено
.fundraise-subheader
	.container
		%ul.pull-right
			%li(class="#{'active' if @filter == 'favourites'}")
				= link_to url_for(filter: :favourites) do
					= fa_icon :"star-o"
					Избранное
					%b= Campaign.favourites(@user).count
			%li(class="#{'active' if @filter == 'donations'}")
				= link_to url_for(filter: :donations) do
					= fa_icon :"credit-card"
					Инвестор
					%b= Campaign.donations(@user).count
		%ul
			%li(class="#{'active' if @filter == 'active'}")
				= link_to url_for(filter: :active) do
					= fa_icon :"flash"
					Активные кампании
					%b= @user.campaigns.active.count
			%li(class="#{'active' if @filter == 'successfull'}")
				= link_to url_for(filter: :successfull) do
					= fa_icon :"trophy"
					Успешные кампании
					%b= @user.campaigns.successfull.count
			%li(class="#{'active' if @filter == 'drafts'}")
				= link_to url_for(filter: :drafts) do
					= fa_icon :"lock"
					Черновики
					%b= @user.campaigns.drafts.count
			- identity = @user.identities.where.not(provider: "instagram").first
			- if identity.present?
				%li
					= link_to "Смотреть профиль в сети", identity.link, target: "_blank"

.container#fundraise-container
	.main-table
		.main-wrapper
			- if @campaigns.count > 0
				.campaigns-row
					= render @campaigns
			- else
				%p.warning-message
					У Вас еще нет ни одной кампании
					- if current_user == @user
						%br
						= link_to 'Создать сейчас', new_campaign_path
.navigator
	.container
		= paginate @campaigns
