%footer
	.container
		.row
			.col-md-2
				%h5 Знакомство
				%ul
					%li= link_to 'Как это работает?', '/how_it_works'
					%li= link_to 'Онлайн блог', '/blog/articles'
					%li= link_to 'Вопросы и ответы', '/questions'
					%li= link_to 'Задать вопрос', send_question_path
			.col-md-2
				%h5 О нас
				%ul
					%li= link_to 'Смотреть видео', '#'
					%li= link_to 'Отзывы', '#'
					%li= link_to 'Цены и тарифы', '/pricing'
					%li= link_to 'Правила и условия', '/how_it_works'
			.col-md-2
				%h5 Связаться с нами
				%ul
					%li= link_to 'Задать вопрос', send_question_path
					%li= link_to 'Часто задаваемые вопросы', '/questions'
					%li= link_to 'Центр помощи', '/questions'
			.col-md-3
				%h5 Популярные
				%ul
					- Campaign.popular.first(4).each do |c|
						%li= link_to c.title, c
			.col-md-3.text-right
				= link_to '/questions' do
					= image_tag 'guarantee.png'


		#supported-currencies
			= image_tag 'flag_ua.png'
			= image_tag 'flag_ru.png'
			%span Поддерживаемые валюты

			= render 'shared/social_counters'


		%ul.footer-menu
			%li= link_to "Блог", '/blog/articles'
			%li= link_to "Условия пользования", terms_of_use_path
			%li= link_to "Политика конфидециальности", privacy_policy_path
			%li= "&copy; #{Date.today.year} MyFundraise".html_safe
