%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag 'logo.png', size: "156x50", class: "gutter-top-5"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if campaign_page?
          - if user_signed_in?
            %li= link_to "Начать свой сбор", new_dashboard_campaign_path, class: 'btn btn-lg'
          - else
            %li= link_to "Начать свой сбор", '#', class: "btn btn-lg", data: { toggle: "modal", target: "#sign_up" }
        - else
          %li= link_to "Смотреть видео", '#'


      %ul.nav.navbar-nav.navbar-right
        = render partial: 'menu_items/menu_item', collection: MenuItem.enabled

        - if user_signed_in?
          %li.dropdown
            = link_to '#', class: "dropdown-toggle", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: true, expanded: false } do
              = render_user_avatar_for current_user, image_styles: "navbar-avatar", fake_styles: "small pull-left gutter-right-5"
              = current_user.name || current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to current_user do
                  = fa_icon :"user"
                  Моя страница
                = link_to withdraws_users_path do
                  = fa_icon :"credit-card-alt"
                  Вывод средств

              %li.divider(role="separator")
              %li
                = link_to dashboard_notifications_path do
                  %span.pull-right= current_user.activities.where(is_seen: false).count
                  = fa_icon :"bell"
                  Все уведомления
              %li
                = link_to dashboard_notifications_path(tab: :donation) do
                  %span.pull-right= current_user.campaigns.sum(:donations_count)
                  = fa_icon :"usd"
                  Пожертвования
              %li
                = link_to dashboard_notifications_path(tab: :comment) do
                  %span.pull-right= current_user.campaigns.sum(:comments_count)
                  = fa_icon :"comment"
                  Комментарии
              %li.divider(role="separator")
              %li
                = link_to new_dashboard_campaign_path do
                  = fa_icon :"plus-square"
                  Новая компания

              %li.divider(role="separator")
              %li
                = link_to destroy_user_session_path, method: :delete do
                  = fa_icon :"power-off"
                  Выход
        - else
          - unless campaign_page?
            %li= link_to 'Зарегистрироваться', '#', class: "reg-link", data: { toggle: "modal", target: "#sign_up" }
            %li= link_to 'Войти', '#', data: { toggle: "modal", target: "#sign_in" }
