%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag 'logo.png', size: "156x50"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Смотреть видео", '#'
        
      
      %ul.nav.navbar-nav.navbar-right
        = render partial: 'menu_items/menu_item', collection: MenuItem.enabled
        - if user_signed_in?
          %li.dropdown
            = link_to '#', class: "dropdown-toggle", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: true, expanded: false } do
              Другое
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Пожертвования", '#'
              %li= link_to "Комментарии", '#'
              %li= link_to "Уведомления", '#'

        - if user_signed_in?
          %li.dropdown
            = link_to '#', class: "dropdown-toggle", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: true, expanded: false } do
              - if current_user.foto.present?
                = image_tag current_user.foto.url(:thumb), size: "30x30", class: 'img-circle gutter-right-5 pull-left gutter-top--5'
              - else
                .fake-avatar.small.gutter-top--5.pull-left.gutter-right-5
                  = [current_user.first_name.try(:first),current_user.last_name.try(:first)].compact.join
              = current_user.name || current_user.email
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Профиль", current_user
              %li= link_to "Мои кампании", '#'
              %li= link_to "Новая компания", new_dashboard_campaign_path
              %li.divider(role="separator")
              %li= link_to "Выход", destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Зарегистрироваться', '#', class: "reg-link", data: { toggle: "modal", target: "#sign_up" }
          %li= link_to 'Войти', '#', data: { toggle: "modal", target: "#sign_in" }
          
