.banner-wrapper
	%video#video(autoplay="autoplay" loop="loop")
		%source.mp4(src="/videos/video.mp4")
		%source.webm(src="/videos/video.webm")
		%source.ogg(src="/videos/video.ogg")
	.text
		%h2 
			%b Fundraising 
			для каждого!
		%h5 
			%u Сайт №1 
			для личного сбора средств
		- if user_signed_in?
			= link_to "Создать компанию", new_dashboard_campaign_path, class: 'btn btn-lg'
		- else
			= link_to "Создать компанию", '#', class: "btn btn-lg", data: { toggle: "modal", target: "#sign_up" }
/ = render 'shared/partners'


.fundraise-subheader
	.container
		.search-form.pull-right
			= form_tag root_path, method: :get do
				= hidden_field_tag :sort, @sorting
				= text_field_tag :q, params[:q], placeholder: "Введите название кампании или город.."
				= button_tag name: nil do
					= fa_icon :"search"
		%ul.gutter-left--10
			%li{ class: "#{'active' if @sorting == 'popular'}" }= link_to "Популярные", root_path(sort: :popular)
			%li{ class: "#{'active' if @sorting == 'recent'}" }= link_to "Новые", root_path(sort: :recent)
			%li{ class: "#{'active' if @sorting == 'almost_there'}" }= link_to "Почти собрано", root_path(sort: :almost_there)


.container#fundraise-container
	.main-table
		.sidebar-wrapper
			#categories-wrapper= render 'shared/categories'
		.main-wrapper.with-sidebar
			/ .sorting-panel
			/ 	%span Сортировка:
			/ 	= link_to "Популярные", root_path(sort: :popular), class: "#{'active' if @sorting == 'popular'}"
			/ 	= link_to "Новые", root_path(sort: :recent), class: "#{'active' if @sorting == 'recent'}"
			/ 	= link_to "Почти собрано", root_path(sort: :almost_there), class: "#{'active' if @sorting == 'almost_there'}"
			.campaigns-row= render @campaigns
			= paginate @campaigns

= render 'shared/partners'
