.donation
	.donation-image
		- donor = can?(:show, donation) ? donation.author : User.anonym
		= render_user_avatar_for donor, image_styles: "img-circle"
	.donation-info
		.info
			%b= "#{construct_amount(donation.amount, donation.currency)}".html_safe
			от
			- if can?(:show, donation)
				= link_to "#{donation.name}", '#'
			- else
				%u Анонима

		.time= donation.created_at.strftime "%d.%m.%Y %H:%M"
	- if can?(:show, donation)
		%p= donation.message
