.fake-page
	.donation-campaign-info
		= image_tag @campaign.picture.url(:medium), size: "300x200"

		%span Название кампании
		%h5= @campaign.title

		%span Автор кампании
		%h5= @campaign.user.name

		%span Адрес
		%h5= @campaign.address

		%span Дата публикации
		%h5= @campaign.created_at.strftime "%d.%m.%Y %H:%M"

	.donation-form
		= form_for @donation do |f|
			%label Сумма пожертвования
			.amount-form
				%span= @campaign.currency.sign.html_safe
				= f.text_field :amount, id: "amount", autofocus: true, placeholder: "1000"

			- if @donation.errors[:amount].any?
				.field-error.text-danger.gutter-top--15.gutter-bottom-20 необходимо ввести сумму пожертвования

			.helper= raw "Перед отправкой пожертвования, пожалуйста, проверьте правильность своих персональных данных! Редактировать их можно в #{link_to 'личном кабинете', '#'}"

			.helper
				Использовать мой профиль:
				= link_to user_vkontakte_omniauth_authorize_path(return_url: new_donation_path(@campaign)), style: "font-size: 20px" do
					= fa_icon :vk
				или
				= link_to user_odnoklassniki_omniauth_authorize_path(return_url: new_donation_path(@campaign)), style: "font-size: 20px" do
					= fa_icon :odnoklassniki

			%label Ваше имя
			= f.text_field :name, value: current_user.try(:name), class: "stylized"

			%label Ваш Email
			= f.text_field :email, value: current_user.try(:email), class: "stylized"

			%label Сообщение
			= f.text_area :message

			%label.checkbox
				= f.check_box :anonymous, data: { skin: "square", color: "green" }, class: "icheck-me"
				Показывать текст и моё имя только получателю

			.gutter-top-30
				= submit_tag "Перейти к оплате", class: "btn btn-lg myf-btn myf-btn-primary gutter-right-10"
				= link_to "Вернуться назад", campaign_path(@campaign), class: "btn btn-link pull-right", style: "padding-right:0;"
			.helper.gutter-top-15.gutter-bottom-0= raw "Внимание! После оплаты не спешите уходить, Вам будет предложено сделать репост с благодарностью."
