.new-campaign-block
	= form_for @campaign, url: dashboard_campaign_step_path(campaign_id: @campaign.id) do |f|
		.campaign-container
			%h3 Share on Facebook
			
			.grayed.text-center
				= image_tag @campaign.picture.url(:medium), size: "300x200"
				.sample-campaign
					%h2= @campaign.title
					%p= campaign_url(@campaign)

			.actions.text-center
				= link_to 'Опубликовать', activate_dashboard_campaign_path(@campaign), class: "btn btn-lg btn-default", method: :post
				/ = f.submit "Post to Facebook".html_safe, class: "btn btn-lg btn-fb"
