.new-campaign-block
	= form_for @campaign, url: dashboard_campaign_step_path(campaign_id: @campaign.id) do |f|
		.campaign-container
			%h3 Компания готова к публикации
			
			.grayed.text-center
				= image_tag @campaign.picture.url(:medium), size: "300x200"
				.sample-campaign
					%h2= @campaign.title
					%p= campaign_url(@campaign)


			.actions.text-center
				= link_to "Назад".html_safe, dashboard_campaign_steps_path(@campaign, id: @campaign.prev_step), class: "pull-left"
				= link_to 'Опубликовать', activate_dashboard_campaign_path(@campaign), class: "pull-right green-btn", method: :post
