.new-campaign-block
  = form_for @campaign, url: dashboard_campaign_step_path(campaign_id: @campaign.id) do |f|
    .campaign-container
      %h3 Расскажите свою историю

      .grayed.form-group
        = f.text_area :description, class: "form-control editor", placeholder: "Введите сюда вашу историю. Очень важно чтобы рассказ был честный, интересный и главное правдивый. Люди хотят знать всю конкретику и подробности. Напишите все о ваших потребностях и нуждах. ", rows: 10

        .gutter-top-20
          = raw "Дополнительные возможности: #{link_to 'Предложить награду', new_dashboard_campaign_reward_path(@campaign), remote: true} (при пожертвовании человек получит от Вас награду):"

          #rewards-list
            = render partial: 'dashboard/rewards/reward', collection: @campaign.rewards, as: :reward

    .actions.text-center
      = link_to "Предыдущий шаг".html_safe, prev_step_dashboard_campaign_path(@campaign), class: "pull-left"
      = f.submit "Подтвердить".html_safe, class: "pull-right green-btn"

.modal-container
