.new-campaign-block
  .campaign-container
    %h3 Поделиться на ВК может увеличить пожертвования 3х

    .grayed.text-center
      = image_tag @campaign.picture.url(:medium), size: "300x200"
      .sample-campaign
        %h2.gutter-top-10= @campaign.title
        %p= campaign_url(@campaign)

      .text-center.gutter-top-40.gutter-bottom-10
        = link_to 'javascript:void(0);', onclick: "Share.vkontakte('#{campaign_url(@campaign)}','#{@campaign.title}','#{asset_url(@campaign.picture.url)}','', '#{dashboard_campaign_steps_path(@campaign, id: 'activate')}');return false;", class: "share-vk" do
          %span.left-part= fa_icon :vk
          Поделиться ВК

  .actions.text-center
    = link_to "Предыдущий шаг".html_safe, prev_step_dashboard_campaign_path(@campaign), class: "pull-left"
    = link_to "Далее".html_safe, dashboard_campaign_steps_path(@campaign, id: @campaign.next_step), class: "pull-right green-btn"
