%ul.gutter-top-30.sidebar-menu
  %li= link_to 'Вопросы', questions_path
  %li= link_to 'Блог', '/blog/articles'
  %li= link_to 'Тарифы', pricing_path
  %li= link_to 'Как это работает?', how_it_works_path
  %li= link_to 'Условия пользования', terms_of_use_path
  %li= link_to 'Политика конфидициальности', privacy_policy_path
