- meta title: "Как это работает? - MyFundraise"

.page-header.gutter-top-0
  %h1.gutter-top-0 Как это работает?

.text-center
  = image_tag "video.jpg"
  %hr
  %h3
    Шаг 1: Создайте компанию по сбору средств
    %br
    %small (Введите название, описание и необходимую сумму)
  = image_tag 'cart1.jpg', size: "366x236"


  %h3
    Шаг 2: Поделитесь записью с родными и знакомыми
    %br
    %small (Простым нажатием на кнопку сделайте репост записи про Ваш сбор)
  = image_tag 'cart2.jpg', size: "366x236"


  %h3
    Шаг 3: Легко принимайте материальную помощь
    %br
    %small (Легко получайте, выводите собранные деньги на Вашу банковскую карту)
  = image_tag 'cart3.jpg', size: "366x236"

  %h3
    Шаг 4: Наслаждайтесь результатом
    %br
    %small (Изменяйте, комментируйте ваш сбор. Добавляйте последние обновления и новости)
  = image_tag 'cart4.jpg', size: "366x236"
