.small-campaign-container
	.small-campaign-block(data-campaign-id="#{campaign.id}")
		.cover
			- if can?(:destroy, campaign)
				= link_to '#', class: "delete" do
					%span= "&times;".html_safe
					%span Удалить

			= image_tag campaign.photo.url(:cover)
			.category
				= fa_icon :tag
				= (campaign.category || Category.first).title
			.author-back
			.author
				= image_tag campaign.user.foto.url(:thumb), size: "34x34", class: 'img-circle'
				%span
					= campaign.user.name
					%span= campaign.user.address

			.share-info.info(data-campaign-id="#{campaign.id}")= render 'campaigns/counters_box', object: campaign

		.percentage
			.done(style="width:#{campaign.percentage}%")

		= link_to campaign.title, campaign, class: "title"

		.goal
			.goal-tab
				%span.goal-title Собрано
				= raw "#{construct_amount(campaign.total_amount.to_i, campaign.currency)}"
			.goal-tab
				%span.goal-title Цель
				= raw "#{construct_amount(campaign.goal, campaign.currency)}"
			.goal-tab
				%span.goal-title Пожертвований
				= campaign.donations_count
