.campaign-page(data-campaign-id="#{@campaign.id}")
	.container
		.row
			.col-md-8.main-part
				.campaign-wr
					.campaign-header
						= image_tag @campaign.picture.url(:large), class: "img-responsive"
					.campaign-wh-block
						%h1= @campaign.title
						
						.fundraise-subheader.campaign-tabs
							%ul
								%li.active
									= link_to "#description", data: { toggle: "tab" }, "aria-controls" => "description" do
										Описание
								%li
									= link_to "#updates", data: { toggle: "tab" }, "aria-controls" => "updates" do
										Обновления
										%b 0
								
						.campaign-description.tab-content
							#description.tab-pane.active(role="tabpanel")= raw @campaign.description
							#updates.tab-pane(role="tabpanel") 
								%p Updates tab is coming..

						.campaign-author
							= link_to @campaign.user do
								= render_user_avatar_for @campaign.user, fake_styles: "size40"
							.campaign-info
								= link_to @campaign.user do
									%span= @campaign.user.name
								%span= @campaign.created_at.strftime('%d.%m.%Y %H:%M')
								.campaign-address
									- if @campaign.address.present?
										%span
											= fa_icon :'map-marker'
											= @campaign.address

						.share-info(data-campaign-id="#{@campaign.id}")= render 'campaigns/counters', object: @campaign

				- if @campaign.enable_comments?
					%h4.heading Комментарии
					- if user_signed_in?
						= form_for [@campaign, Comment.new], data: { remote: true, method: :post }, html: { class: "modern-form" } do |f|
							.form-group.with-avatar
								= render_user_avatar_for current_user, fake_styles: "size40"
								= f.text_area :text, class: "form-control", placeholder: "Напишите здесь Ваш отзыв о кампании '#{@campaign.title}'"
							.text-right= f.submit "Добавить комментарий", class: "btn"
					- else
						.empty-comments-results.empty-results.gutter-top-0
							Авторизируйтесь, чтобы оставить свой отзыв о кампании
							%u= "'#{@campaign.title}'"

					#comments-list
						- if @comments.any?
							= render @comments
						- else
							- if user_signed_in?
								.empty-comments-results.empty-results
									Еще никто не оставлял свой отзыв о кампании 
									%u= "'#{@campaign.title}'"


			.col-md-4.sidebar
				.price
					%b= raw "#{construct_amount(@campaign.total_amount.to_i, @campaign.currency)}"
					= raw " из #{construct_amount(@campaign.goal, @campaign.currency)}"
				.price-range
					.current(style="width:#{@campaign.percentage}%;")

				- if @campaign.donations.any?
					- days_number = (Date.today - @campaign.created_at.to_date).to_i + 1
					%p.gutter-top-10= "Собрано #{@campaign.donations_count} #{Russian::p(@campaign.donations_count, 'человеком', 'людьми', 'людьми')} за #{days_number} #{Russian::p(days_number, 'день', 'дня', 'дней')}"
				- else
					%p.gutter-top-10 Автор еще не получал пожертвования для этой кампании
					

				= link_to "Внести пожертвование", new_donation_path(@campaign), class: "btn btn-lg btn-block gutter-top-30"

				%h4 Пожертвования
				- if @donations.any?
					= render @donations
				- else
					.donation
						%p.gutter-top--10
							Еще никто не оставлял пожертвования, 
							= link_to "будьте первым", new_donation_path(@campaign), class: "bordered"
