<!DOCTYPE html>
<html>
<head>
  <title>MyFundraise</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,300italic&subset=latin,cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="gray <%= @body_class %>">

<div class="wrapper-overlay hidden"></div>
<%= render 'shared/navbar' %>
<%= yield %>
<%= render 'shared/promo' %>
<%= render 'shared/footer' %>
<%= render 'shared/modals' %>
</body>
</html>
