!!!
%html
  %head
    = metamagic title: "MyFundraise"
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,300italic&subset=latin,cyrillic,cyrillic-ext,latin-ext", :rel => "stylesheet"}/
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false&libraries=places'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
  %body{:class => @body_class}
  .wrapper-overlay.hidden
  = render 'shared/navbar'
  .container#fundraise-container
    .main-table
      .sidebar-wrapper.static
        = render 'static/menu'
      .main-wrapper.with-sidebar.static
        = yield

  - if @show_promo
    = render 'shared/promo'
  = render 'shared/footer'
  = render 'shared/modals'
  = render 'layouts/yandex_metrica'
